* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, small, span, ul, ol {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 30px;
}

h5 {
  font-size: 16px;
}

h4 {
  font-size: 13px;
}

h6 {
  font-size: 11px;
}

i {
  color: #02918c;
}

#myNav {
  background-color: #02918c;
  position: sticky;
  top: 0;
}
#myNav #myMenu ul {
  list-style-type: none;
}
#myNav #myMenu ul li:hover a {
  background-color: #cfc91d;
  color: #000;
}
#myNav #myMenu ul li a {
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  padding: 21px 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

#banner {
  background: url(../image/banner_bg.jpg);
  height: 728px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
#banner::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 100%;
  inset: 0;
  opacity: 0.66;
  z-index: -1;
}
#banner .banner-item {
  color: #fff;
}
#banner .banner-item h3 {
  font-weight: 400;
}
#banner .banner-item h1 {
  font-weight: 800;
  letter-spacing: 30px;
  text-transform: uppercase;
  -webkit-animation: backcolor 3s linear infinite;
          animation: backcolor 3s linear infinite;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfc91d));
  background-image: linear-gradient(#fff, #cfc91d);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -1050px;
}
#banner .banner-item p {
  font-size: 18px;
  font-weight: 400;
}
#banner .banner-item a {
  text-decoration: none;
  color: #000;
  background-color: #cfc91d;
  padding: 19px 40px;
  font-weight: 800;
  font-size: 14px;
}
#banner .banner-item img {
  margin: 50px auto;
  padding: 21px 25px;
}

@-webkit-keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}

@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}
#about {
  padding: 50px 0;
}
#about .section-info h2 {
  font-weight: 800;
  color: #02918c;
}
#about .section-info h5 {
  margin: 30px auto;
  line-height: 24px;
}
#about .section-info h5 b {
  font-size: 23px;
}
#about .about-content .about-item {
  margin: 20px 0;
  border-right: 1px solid #7e8287;
}
#about .about-content .about-item:last-child {
  border: none;
}
#about .about-content h5 {
  font-weight: 800;
}
#about .about-content h6 {
  color: #7e8287;
  width: 165px;
  margin: 0 auto;
}

#service {
  background: url(../image/service_bg.jpg);
  background-size: cover;
  padding: 50px 0;
}
#service h2 {
  font-weight: 800;
  color: #02918c;
}
#service .service-content .service-item h5 {
  font-weight: 800;
}
#service .service-content .service-item h6 {
  color: #7e8287;
  width: 165px;
}

#work .work-info {
  padding: 50px 0;
}
#work .work-info h2 {
  color: #02918c;
  font-weight: 800;
}
#work .work-item .work-item-content {
  position: relative;
}
#work .work-item .work-item-content:hover .overlay {
  visibility: visible;
  opacity: 1;
}
#work .work-item .work-item-content img {
  display: block;
  width: 100%;
  height: 100%;
}
#work .work-item .work-item-content .overlay {
  position: absolute;
  inset: 20px 28px;
  background-color: rgba(2, 145, 140, 0.85);
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#work .work-item .work-item-content .overlay h5 {
  font-weight: 800;
}

#contact .contact-info {
  padding: 50px 0;
}
#contact .contact-info h2 {
  color: #02918c;
  font-weight: 800;
}
#contact .contact-info h5 {
  padding: 15px 0;
}
#contact .contact_form {
  background-color: #0b0b0b;
  padding: 40px 0;
}
#contact .contact_form input, #contact .contact_form textarea {
  background: none;
  color: #898989;
  text-align: center;
  border: none;
  border-bottom: 1px solid #898989;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 15px;
}
#contact .contact_form textarea {
  resize: none;
}
#contact .contact_form button {
  background-color: #cfc91d;
  color: #0b0b0b;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0;
}

footer {
  color: #66696e;
  background-color: #000;
  text-align: center;
  padding: 15px 0;
}/*# sourceMappingURL=style.css.map */